* {
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	width: 0px;
}

input {
	text-indent: 21px;
}

input:focus {
	outline: none;
	text-indent: 21px;
}

@font-face {
	font-family: 'Xolonium';
	font-weight: 700;
	src: url(/fonts/Xolonium-Bold.woff2);
}
@font-face {
	font-family: 'Xolonium';
	font-weight: 400;
	src: url(/fonts/Xolonium-Regular.woff2);
}

@font-face {
	font-family: 'Micra';
	font-weight: 400;
	src: url(/fonts/Micra.woff2);
}

body {
	height: 100%;
	width: 1920px;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #000;
}

h2 {
	font-family: 'Xolonium';
	font-style: normal;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 36px;
	font-weight: 400;
	color: black;
}

/* Header */

.header-container {
	width: 1120px;
	height: 85px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

#location-upper {
	font-family: 'Xolonium';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	text-transform: uppercase;
	color: #6f6f6f;
}

#location-lower {
	font-size: 12px;
	line-height: 15px;
	color: #a8a8a8;
}

.logo-container {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
	align-items: center;
}

.location-container {
	display: flex;
	flex-direction: column;
}

.header-phone > a {
	font-family: 'Micra';
	font-size: 20px;
	line-height: 21px;
	letter-spacing: -0.08em;
	text-transform: capitalize;
	color: #c00b20;
}

.header-nav {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}

.nav-container {
	width: 641px;
	height: 17px;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.nav-container > a {
	font-size: 14px;
	line-height: 17px;
	color: #898989;
	font-family: 'Xolonium';
	font-weight: 400;
}

/* Main */

#main-offer-img {
	position: absolute;
	z-index: -1;
	top: 85px;
}

#main-heading {
	font-family: 'Xolonium';
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 60px;
	text-align: center;
	color: #fff;
}

#main-heading > span {
	font-family: 'Xolonium';
	color: #c00b20;
}

#main-subtitle {
	width: 736px;
	height: 72px;
	font-family: 'Xolonium';
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	color: #fff;
	margin-top: 30px;
}

/* Main > Offer Container */

.main-offer_container {
	width: 1920px;
	height: 679px;
}

.main-offer {
	width: 736px;
	height: 536px;
	margin: 0 auto;
	padding-top: 80px;
	margin-bottom: 63px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#main-play-img {
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Main > Order Form */

.main-offer_order {
	width: 736px;
	height: 154px;
}
.main-offer_order > h2 {
	color: #fff;
	text-align: center;
	margin-bottom: 22px;
}

#main-offer_form {
	width: 736px;
	height: 92px;
}

.offer-checkbox_container {
	margin: 0 auto;
	width: 365px;
	height: 24px;
	color: #fff;
	display: flex;
	gap: 11px;
	align-items: center;
	justify-content: center;
	margin-top: 24px;
}
.offer-checkbox_container span {
	width: 330px;
	font-size: 14px;
	line-height: 17px;
}

/* RightMenu */

.right-menu_container {
	width: 128px;
	height: 155px;
	position: absolute;
	left: 1792px;
	top: 262px;
	display: flex;
	flex-direction: column;
	row-gap: 4px;
	align-items: flex-end;
}
.right-menu_phone {
	width: 45px;
	height: 49px;

	background: rgba(0, 0, 0, 0.82);
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
	border-radius: 10px 0px 0px 10px;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.right-menu_drive {
	width: 128px;
	height: 49px;
	font-size: 12px;
	line-height: 15px;
	color: #ffffff;
	background: rgba(192, 11, 32, 0.82);
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
	border-radius: 10px 0px 0px 10px;

	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 8px;
}
.right-menu_discount {
	width: 73.5px;
	height: 49px;
	display: flex;
	align-items: center;
}

/* Form */

#input-name,
#input-phone {
	width: 256px;
	height: 48px;
	border: none;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 3px;
}
::placeholder {
	text-indent: 21px;
	color: #000;
	font-size: 16px;
	line-height: 19px;
}

#order-button {
	width: 160px;
	height: 48px;
	border: none;
	border-radius: 4px;
	background-color: #c00b20;
	color: #fff;
	font-size: 18px;
	line-height: 21px;
}

.form-fields {
	width: 736px;
	height: 48px;
	display: flex;
	align-items: center;
	column-gap: 32px;
}
#agree-checkbox {
	width: 24px;
	height: 24px;
	border: none;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 3px;
}

/* Description */
.main-description_container {
	width: 1920px;
	height: 205px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid #bcbcbc;
}
#dividing-line {
	margin-left: 75px;
	margin-right: 88px;
}
.description-body {
	width: 640px;
	height: 134px;
	line-height: 19px;
}
.description-heading {
	font-size: 82px;
	line-height: 99px;
}

.description-heading > span {
	font-family: 'Xolonium';
	font-weight: 400;
}

.description-heading > span:last-child {
	color: #c00b20;
}
.description-heading > span:first-child {
	color: #adadad;
}

/* Technologies & Security */

.main-car {
	width: 1121px;
	height: 482px;
	margin: 0 auto;
	margin-top: 72px;
}

.main-techno {
	width: 1088px;
	height: 1002px;
	margin: 0 auto;
	margin-top: 35px;
}

.main-techno > h2 {
	text-align: center;
	margin-bottom: 90px;
}

.techno-container {
	width: 1088px;
	height: 840px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	text-transform: uppercase;
}

.techno-container > img {
	box-sizing: border-box;
	border: 1px solid #ffffff;
	filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}

.techno-container h3:nth-of-type(n) {
	font-family: 'Xolonium';
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}

.techno-container h3:nth-of-type(1) {
	width: 261px;
	height: 72px;
	margin-left: 32px;
}

.techno-container h3:nth-of-type(2) {
	width: 224px;
	height: 120px;
	margin-left: 272px;
}

.techno-container h3:nth-of-type(3) {
	width: 385px;
	height: 72px;
	margin-left: 32px;
}

/* Brochure */

#main-brochure-img {
	position: absolute;
	z-index: -1;
	top: 2373px;
}

.brochure-wrapper {
	width: 738px;
	height: 232px;
	margin: 0 auto;
	margin-top: 89px;
}

.brochure-wrapper > h2 {
	text-align: center;
	width: 648px;
	height: 36px;
	margin: 0 auto;
	margin-bottom: 22px;
	color: white;
}

#main-brochure_form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 34px;
	row-gap: 22px;
}

#main-brochure_form > input,
button {
	border: none;
	width: 352px;
	height: 48px;
}

#main-brochure_form > input {
	background: #f5f5f5;
	box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.08);
	border-radius: 3px;
}

#main-brochure_form > button {
	background: #c00b20;
	box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	color: #fff;
}

.brochure-checkbox_container {
	width: 212px;
	height: 34px;
	column-gap: 12.29px;
	grid-area: 3 / 1 / 4 / 3;
	margin-top: 0;
	align-items: center;
}
.brochure-checkbox_container span {
	width: 174px;
}
